<div class="divider-mini" id="act">
  <span class="blank-hr"></span>
</div>

<section class="exploring">
  <div class="section-header">
    <div class="container-fluid">
      <div class="row">
        <h1>Now What?</h1>
        <p class="description">For parents and children living with spina bifida, there's always a "now what?” that comes next. No matter if you just heard the words, or have known the diagnosis for years, every next step is a step into the unknown. But with the right community of people by your side, those steps don't have to be taken alone.</p>
      </div>

      <!-- Nav tabs -->
      <ul class="nav section-nav row">
        <li class="active section-nav-item col-sm-4 col-xs-12">
          <% link_to '#member', "data-toggle" => "tab" do %>
            <span class="boundary-box">
              <strong>Spina Bifida Is</strong>
              <span class="section-nav-item-detail">Join our community and access a wide range of benefits for you and your child.</span>
            </span>
            <span class="tab-indicator"></span>
          <% end %>
        </li>

        <li class="col-sm-4 section-nav-item col-xs-12">
          <span class="clearfix visible-xs"></span>
          <% link_to '#community_resources', "data-toggle" => "tab" do %>
            <span class="boundary-box">
              <strong>Community Resources</strong>
              <span class="section-nav-item-detail">From adaptive sports to therapy, these local resources provide opportunities.</span>
            </span>
            <span class="tab-indicator"></span>
          <% end %>
        </li>

        <li class="col-sm-4 section-nav-item col-xs-12">
          <span class="clearfix visible-xs"></span>
          <% link_to '#learning', "data-toggle" => "tab" do %>
            <span class="boundary-box">
              <strong>Learning opportunities</strong>
              <span class="section-nav-item-detail">Let us help you through the need for IEPs, special education and special needs trust.</span>
            </span>
            <span class="tab-indicator"></span>
          <% end %>
        </li>
      </ul>
    </div><!--/container-->
  </div>

  <div class="info-content-container">
    <div class="container-fluid tab-content">
      <div class="tab-pane fade in active" id="member">
        <h2>Member Benefits</h2>
        <ul class="information-roll">
          <li>
            <h3>Scholarships</h3>
            <ul>
              <li><%= link_to 'Camp', 'https://docs.google.com/forms/d/1kQ4OVpSsF9RAD6JEJCr9PLPH8d-mlhMwXO2sP0t49HI/viewform?usp=send_form' %> (due May 15, 2014)</li>
              <li><%= link_to 'SB National Conference', 'https://docs.google.com/forms/d/19gTldB6AJR-wYtIuac9c9hAb2JTMRhlTnoKBlMe50cs/viewform?usp=send_form' %> (due May 15, 2014)</li>
              <li><%= link_to 'Therapy', 'http://www.familyhopefoundation.org/programs/scholorships/guidelines-application' %> (due April 1 and Oct 1)</li>
            </ul>
          </li>

          <li>
            <h3>U of M Research Project</h3>
          </li>

          <li>
            <h3>Member Discounts</h3>
            <ul>
              <li>Coloplast</li>
              <li>Airway</li>
              <li>Wright &amp; Filipis</li>
              <li>Pediatric Orthotic Specialists</li>
            </ul>
          </li>

          <li>
            <h3>Events</h3>
          </li>

          <li>
            <h3>Monthly Support Group</h3>
          </li>

          <li>
            <h3>Member Directory</h3>
          </li>

          <li>
            <h3>Community of Support</h3>
            <ul>
              <li><%= link_to 'Emily, Nate &amp; Carson', 'http://babyboybush.blogspot.com' %></li>
              <li><%= link_to 'Andy, Leigh  &amp; Greyson', 'http://ourlittlegibblet.blogspot.com' %></li>
              <li><%= link_to 'Kelly, Austin &amp; Grayden', 'http://ourredirectedflight.blogspot.com' %></li>
              <li><%= link_to 'Kevin, Katie &amp; Gibson', 'http://alistmakerslife.com' %></li>
              <li><%= link_to 'Dave, Lauren &amp; Ezra', 'http://hannonfamilyblessings.blogspot.com' %></li>
              <li><%= link_to 'Coleman, Lauren &amp; Lewis', 'http://thelittlemiller.blogspot.com' %></li>
              <li><%= link_to 'Dawn, Tom &amp; Andy', 'http://themathewschildren.blogspot.com' %></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="tab-pane fade" id="community_resources">
        <h2>Community Resources</h2>
        <ul class="information-roll">
          <li>
            <h3>Adaptive Sports</h3>
            <ul>
              <li><%= link_to 'Griffin Youth Foundation', 'https://sites.google.com/site/grgriffinsyouthfoundation/' %></li>
              <li><%= link_to 'Cannonsburg Challenged Ski Association', 'http://skiccsa.org' %></li>
              <li><%= link_to 'Mary Free Bed Adaptive Sports', 'http://www.maryfreebed.com/sportsresources' %></li>
            </ul>
          </li>

          <li>
            <h3>Medical Needs</h3>
            <ul>
              <li><%= link_to 'Mary Free Bed Rehabilitation Hospital', 'http://www.maryfreebed.com' %></li>
              <li><%= link_to 'Pediatric Orthotic Specialists', 'http://www.ortho4peds.com/' %></li>
            </ul>
          </li>

          <li>
            <h3>Financial Planning and Funding</h3>
            <ul>
              <li><%= link_to 'Family Hope Foundation', 'http://thefamilyhopefoundation.org' %></li>
              <li><%= link_to 'Walker AMBUCS', 'http://walkerambucs.org' %></li>
              <li><%= link_to 'Special Needs Trust (linked to education)', '#learning' %></li>
            </ul>
          </li>

          <li>
            <h3>Therapy</h3>
            <ul>
              <li><%= link_to 'One Plus One Therapy', 'http://www.1plus1therapy.com/' %></li>
              <li><%= link_to 'Conductive Learning Center', 'http://conductivelearningcenter.org/' %></li>
            </ul>
          </li>

          <li>
            <h3>Career</h3>
            <ul>
              <li><%= link_to 'Disability Advocates of Kent County', 'http://disabilityadvocates.us' %></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="tab-pane fade" id="learning">
        <h2>Learning Opportunities</h2>
        <ul class="information-roll">
          <li>
            <h3>IEPs &amp; Special Education</h3>
            <p>Your child may be eligible for special education services in school. The Individuals with Disabilities Act (IDEA), entitles children with disabilities to "a free appropriate public education.” This is often called FAPE, or special education.</p>

            <p>Although each state and school is different, one of the most important parts of the special education process is creating a written plan for your child's education. This is called an <strong>Individualized Education Program, or the IEP</strong>.</p>

            <p>Developing the IEP consist of two important parts:</p>
            <ol>
              <li>IEP meetings, where you, your child and school staff members together decide on an education program for your child</li>
              <li>the IEP document, which lists annual goals and short-term objectives along with the services and support your child will receive</li>
            </ol>
          </li>

          <li>
            <h3>Additional information on IEPs &amp; IDEA:</h3>
            <ul>
              <li><%= link_to 'Developing Your Child\'s IEP', 'http://www.michiganallianceforfamilies.org/wp-content/uploads/2012/08/7R-NICHCY-Developing-Your-Childs-IEP-A-Parents-Guide.pdf' %></li>
              <li><%= link_to 'Michigan Alliance for Families', 'http://www.michiganallianceforfamilies.org/wp-content/uploads/2012/08/IEP-101-Webinar.pdf' %></li>
              <li><%= link_to 'Developing Your Childs IEP: A Parent\'s Guide', 'https://www.youtube.com/watch?v=zUSkGuO4u7k' %></li>
            </ul>
            <ul>
              <li><%= link_to 'http://idea.ed.gov', 'http://idea.ed.gov' %></li>
              <li><%= link_to 'www.nichcy.org', 'http://www.nichcy.org' %></li>
            </ul>
          </li>

          <li>
            <h3>Special Needs Trust</h3>
            <p>If your child is receiving certain government benefits and receives an inheritance on the death of his or her parents, receipt of that inheritance may disqualify the child from receiving such benefits.</p>
            <p>A <strong>Special Needs Trust</strong> allows to you provide equally for all of your children, while preserving important government benefits for the child with special needs.</p>
            <p>Each trust must be specifically designed to suit the needs and situation of each family. A properly drafted trust:</p>

            <ul>
              <li>allows you to leave assets to your child with Spina Bifida</li>
              <li>provides for proper management of those assets during the child's lifetime</li>
              <li>prevents the child's inheritance from interfering with his or her government benefits</li>
            </ul>
          </li>

          <li>
            <h3>Who to Contact:</h3>

            <div class="">
              <span>Mary Jo Boerman</span>
              <span>616-772-2487</span>
              <span><%= link_to 'boermanlaw.com', 'http://www.boermanlaw.com/' %></span>
            </div>

            <p>
              Mary Jo is a member of our board of directors and is located in Zeeland, Michigan. She would be happy to provide further information regarding Special Needs Trusts and whether such a trust is appropriate for you and your family.
            </p>
          </li>

          <li>
            <h3>FAQs</h3>
          </li>
        </ul>
      </div>
    </div><!--/container-->
  </div>
</section>

