<div class="divider-mini" id="learn">
  <span class="blank-hr"></span>
</div>

<div id="carousel-1" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-1" data-slide-to="1"></li>
    <li data-target="#carousel-1" data-slide-to="2"></li>
    <li data-target="#carousel-1" data-slide-to="3"></li>
    <li data-target="#carousel-1" data-slide-to="4"></li>
    <li data-target="#carousel-1" data-slide-to="5"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item-1 item active">
      <%= image_tag '/images/whatisspinabifida-text-01.png', :width => "100%", :class => "img-responsive"; %>
      <div class="carousel-caption"><!-- TODO: add captions here --></div>
    </div>

    <div class="item-2 item">
      <%= image_tag '/images/whatisspinabifida-text-02.png', :width => "100%", :class => "img-responsive"; %>
      <div class="carousel-caption"><!-- TODO: add captions here --></div>
    </div>

    <div class="item-3 item">
      <%= image_tag '/images/whatisspinabifida-text-03.png', :width => "100%", :class => "img-responsive"; %>
      <div class="carousel-caption"><!-- TODO: add captions here --></div>
    </div>

    <div class="item-4 item">
      <%= image_tag '/images/whatisspinabifida-text-04.png', :width => "100%", :class => "img-responsive"; %>
      <div class="carousel-caption"><!-- TODO: add captions here --></div>
    </div>

    <div class="item-5 item">
      <%= image_tag '/images/whatisspinabifida-text-05.png', :width => "100%", :class => "img-responsive"; %>
      <div class="carousel-caption"><!-- TODO: add captions here --></div>
    </div>

    <div class="item-6 item">
      <%= image_tag '/images/whatisspinabifida-text-06.png', :width => "100%", :class => "img-responsive"; %>
      <div class="carousel-caption"><!-- TODO: add captions here --></div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-1" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>

  <a class="right carousel-control" href="#carousel-1" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
