<%= partial "/components/hr_divider_mini" %>

<footer class="page-footer container-fluid">
  <div class="row">
    <div class="col-sm-4 col-xs-12">
      <span><%= data.footer.content.title %></span>
      <br /><span><%= data.footer.content.address %></span>
      <br /><span><%= data.footer.content.address2 %></span>
    </div>

    <ul class="col-sm-4 col-xs-12">
      <% data.footer.navigation.each do |f| %>
        <li class="nav-item"><%= link_to "#{f.link}", "#{f.url}" %></li>
      <% end %>
    </ul>

    <ul class="col-sm-4 col-xs-12">
      <% data.footer.navigation2.each do |f| %>
        <li class="nav-item"><%= link_to "#{f.link}", "#{f.url}", :target => "#{f.target}" %></li>
      <% end %>
    </ul>
  </div>

  <div class="row">
    <p class="col-xs-12 page_disclosure">&copy; 2012 West Michigan Spina Bifida Organization.</p>
  </div>
</footer>
