<%= partial "/components/hr_divider_mini" %>

<footer class="page-footer container-fluid">
  <div class="row">
    <div class="col-sm-4 col-xs-12">
      <span>West Michigan Spina Bifida Organization</span>
      <br /><span>235 Wealthy SE</span>
      <br /><span>Grand Rapids, MI 4903</span>
    </div>

    <ul class="col-sm-4 col-xs-12">
      <li class="nav-item"><%= link_to 'Spina Bifida Is', '#learn' %></li>
      <li class="nav-item"><%= link_to 'Now What', '#act' %></li>
      <li class="nav-item"><%= link_to 'Our Community', '#community' %></li>
      <li class="nav-item"><%= link_to 'Get Involved', '#involved' %></li>
    </ul>

    <ul class="col-sm-4 col-xs-12">
      <li class="nav-item"><%= link_to 'Say Hello', '#hello' %></li>
      <li class="nav-item"><%= link_to 'Visit us on Facebook', 'https://www.facebook.com/pages/West-Michigan-Spina-Bifida-Organization/323107167707286' %></li>
    </ul>
  </div>

  <div class="row">
    <p class="col-xs-12 page_disclosure">&copy; 2012 West Michigan Spina Bifida Organization.</p>
  </div>
</footer>
