<div class="header-nav" id="navbar">
  <div class="container-fluid">
    <h1 class="main-identity scroll-top">
      <%= link_to 'West Michigan Spina Bifida Organization', '#', :title => "top" %>
    </h1>

    <div class="navbar-trigger-container">
      <%= link_to '', '#', :'data-toggle' => "collapse", :'data-target' => ".navbar-container", :class => "navbar-trigger fa fa-bars" %>
    </div>

    <div class="navbar-container collapse">
      <ul class="nav-items nav">
        <li class="nav-item"><%= link_to 'Spina Bifida Is', '#learn' %></li>
        <li class="nav-item"><%= link_to 'Now What', '#act' %></li>
        <li class="nav-item"><%= link_to 'Our Community', '#community' %></li>
        <li class="nav-item"><%= link_to 'Get Involved', '#involved' %></li>
      </ul>
    </div><!--/.nav-container -->
  </div><!--/.container -->
</div><!--/.navbar -->
