---
title: Support (REMOVE: now what)
---

<section>
  <h1>NOW WHAT?</h1>

  <ul>
    <li>
      <h2>Member Benefits</h2>
      <p>Joining our community gives you access to a wide range of benefits for you & your child.</p>
    </li>
    <li>
      <h2>Community Resources</h2>
      <p>From adaptive sports to therapy, these local resources provide access & opportunities throughout the West Michigan region.</p>
    </li>
    <li>
      <h2>Education</h2>
      <p>Questions? Let us help you navigate the new territory of IEPs, Special Education and Special Needs Trusts.</p>
    </li>
  </ul>
</section>

<section id="(Member Benefits)">
  <ul>
    <li>
      <h2>Scholarships</h2>
      <ul>
        <li><%= link_to 'Camp', 'truth' %> (due May 15, 2014)</li>
        <li><%= link_to 'SB National Conference', 'truth' %> (due May 15, 2014)</li>
        <li><%= link_to 'Therapy', 'truth' %> (due April 1 and Oct 1)</li>
      </ul>
    </li>
    <li>
      <h2>U of M Research Project</h2>
    </li>
    <li>
      <h2>Member Discounts</h2>
      <ul>
        <li>Coloplast</li>
        <li>Airway</li>
        <li>Wright & Filipis</li>
        <li>Pediatric Orthotic Specialists</li>
      </ul>
    </li>
    <li>
      <h2>Events</h2>
    </li>
    <li>
      <h2>Monthly Support Group</h2>
    </li>
    <li>
      <h2>Member Directory</h2>
    </li>
    <li>
      <h2>Community of Support</h2>
      <ul>
        <li><%= link_to 'Emily, Nate & Carson', 'truth' %></li>
        <li><%= link_to 'Andy, Leigh & Greyson', 'truth' %></li>
        <li><%= link_to 'Kelly, Austin & Grayden', 'truth' %></li>
        <li><%= link_to 'Kevin, Katie & Gibson', 'truth' %></li>
        <li><%= link_to 'Dave, Lauren & Ezra', 'truth' %></li>
        <li><%= link_to 'Coleman, Lauren & Lewis', 'truth' %></li>
        <li><%= link_to 'Dawn, Tom & Andy', 'truth' %></li>
      </ul>
    </li>
  </ul>
</section>


<section id="(Community Resources)">
  <ul>
    <li>
      <h2>Adaptive Sports</h2>
      <ul>
        <li><%= link_to 'Griffin Youth Foundation', 'truth' %></li>
        <li><%= link_to 'Cannonsburg Challenged Ski Association', 'truth' %></li>
        <li><%= link_to 'Mary Free Bed Adaptive Sports', 'truth' %></li>
      </ul>
    </li>
    <li>
      <h2>Medical Needs</h2>
      <ul>
        <li><%= link_to 'Mary Free Bed Rehabilitation Hospital', 'truth' %></li>
        <li><%= link_to 'Pediatric Orthotic Specialists', 'truth' %></li>
      </ul>
    </li>
    <li>
      <h2>Financial Planning and Funding</h2>
      <ul>
        <li><%= link_to 'Family Hope Foundation', 'truth' %></li>
        <li><%= link_to 'Walker AMBUCS', 'truth' %></li>
        <li><%= link_to 'Special Needs Trust (linked to education)', 'truth' %></li>
      </ul>
    </li>
    <li>
      <h2>Therapy</h2>
      <ul>
        <li><%= link_to 'One Plus One Therapy', 'truth' %></li>
        <li><%= link_to 'Conductive Learning Center', 'truth' %></li>
      </ul>
    </li>

    <li>
      <h2>Career</h2>
      <ul>
        <li><%= link_to 'Disability Advocates of Kent County', 'truth' %></li>
      </ul>
    </li>
  </ul>
</section>

<section id="(Education)">
  <ul>
    <li>
      <h2>IEPs & Special Education</h2>
      <p>Your child may be eligible for special education services in school. The Individuals with Disabilities Act (IDEA), entitles children with disabilities to “a free appropriate public education.” This is often called FAPE, or special education.</p>

      <p>Although each state and school is different, one of the most important parts of the special education process is creating a written plan for your child’s education. This is called an <strong>Individualized Education Program, or the IEP</strong>.</p>

      <p>Developing the IEP consist of two important parts:</p>
      <ul>
        <li>IEP meetings, where you, your child and school staff members together decide on an education program for your child</li>
        <li>the IEP document, which lists annual goals and short-term objectives along with the services and support your child will receive</li>
      </ul>
    </li>
    <li>
      <h2>Additional information on IEPs & IDEA:</h2>
      <ul>
        <li><%= link_to 'Developing Your Child’s IEP', 'truth' %></li>
        <li><%= link_to 'Michigan Alliance for Families', 'truth' %></li>
        <li><%= link_to 'Developing Your Childs IEP: A Parent’s Guide', 'truth' %></li>
      </ul>
      <ul>
        <li><%= link_to 'http://idea.ed.gov', 'truth' %></li>
        <li><%= link_to 'www.nichcy.org', 'truth' %></li>
      </ul>
    </li>
    <li>
      <h2>Special Needs Trust</h2>
      <p>If your child is receiving certain government benefits and receives an inheritance on the death of his or her parents, receipt of that inheritance may disqualify the child from receiving such benefits.</p>
      <p>A <strong>Special Needs Trust</strong> allows to you provide equally for all of your children, while preserving important government benefits for the child with special needs.</p>
      <p>Each trust must be specifically designed to suit the needs and situation of each family. A properly drafted trust:</p>
      <ul>
        <li>allows you to leave assets to your child with Spina Bifida</li>
        <li>provides for proper management of those assets during the child's lifetime</li>
        <li>prevents the child's inheritance from interfering with his or her government benefits</li>
      </ul>
    </li>
    <li>
      <h2>Who to Contact:</h2>
      <div>
        <span>Mary Jo Boerman</span>
        <span>616-772-2487</span>
        <span>boermanlaw.com</span>
      </div>
      <p>
        Mary Jo is a member of our board of directors and is located in Zeeland, Michigan. She would be happy to provide further information regarding Special Needs Trusts and whether such a trust is appropriate for you and your family.
      </p>
    </li>
    <li>
      <h2>FAQs</h2>
    </li>
  </ul>
</section>
