---
title: Truth
---

<header class="masthead">
  <h1>
    <%= link_to 'West Michigan Spina Bifda Organization', '/' %>
  </h1>
  <nav>
    <%= link_to 'Truth', 'truth' %>
    <%= link_to 'Support', 'truth' %>
    <%= link_to 'Community', 'truth' %>
    <%= link_to 'Contribute', 'truth' %>
  </nav>
</header>

<section class="">
  <p>Spina bifida is two words.</p>
  <h1>Not a sentence</h1>
</section>

<section class="">
  <h1>What is Spina Bifida?</h1>
  <h2>Subhead</h2>
  <p>Wir bieten Ihnen handverlesene und exklusive Unterkünfte an den schönsten Orten der Welt. Wir bieten Ihnen handverlesene und exklusive Unterkünfte an den schönsten Orten der Welt.</p>
</section>

<section>
  <h2>Stats go here 37% consed mintur occus eosant dolorese pernatia plibus quam et.</h2>
</section>

<section>
  <h1>Support & Resources</h1>
  <p class="subtitle">We aim to enhance the lives of those affected by Spina Bifida. These local resources provide helpful information.</p>

  <h3>Scholarships</h3>
  <p>
    Camp Scholarships (due May 15, 2014) Conference Scholarships (due May 15, 2014) Therapy Scholarships (due April 1 and Oct 1)

    <span class="disclosure">
    **The WMSBO is now offering therapy scholar- ships! We are awarding four “Gift of Hope” scholar- ships through the Family Hope Foundation. Please visit Family Hope Foundation Therapy Scholarship Guidelines & Application page for more details on the requirements for these scholarships.
    </span>
  </p>

  <h3>Adaptive Sports</h3>

  <p>Griffin’s Youth Foundation</p>
  <%= link_to 'griffinshockey.com/community/youth', 'griffinshockey.com/community/youth' %>

  <p>Canonsburg Challenged Ski Association</p>
  <%= link_to 'skiccsa.org', 'skiccsa.org' %>

  <p>Grand Rapids Wheelchair Sports Association</p>
  <%= link_to 'grwsa.com', 'grwsa.com' %>


  <h3>Therapy</h3>
  <p>Conductive Learning Center</p>
  <%= link_to 'conductivelearningcenter.org', 'conductivelearningcenter.org' %>

  <p>One Plus One Therapy</p>
  <%= link_to '1plus1therapy.com', '1plus1therapy.com' %>

  <h3>Medical Needs</h3>
  <p>Mary Free Bed Rehabilitation Hospital</p>
  <%= link_to 'maryfreebed.com', 'maryfreebed.com' %>

  <p>Pediatric Orthotic Specialists</p>
  <%= link_to 'ortho4peds.com', 'ortho4peds.com' %>


  <h3>Financial Planning and Funding Assistance</h3>
  <p>Special Needs Trust</p>
  <%= link_to 'Click here for further details', 'detail' %>

  <p>Walker AMBUCS</p>
  <%= link_to 'walkerambucs.org', 'walkerambucs.org' %>

  <p>Family Hope Foundation</p>
  <%= link_to 'thefamilyhopefoundation.org', 'thefamilyhopefoundation.org' %>

  <h3>Emotional Support</h3>
  <p>We have a monthly support group for mothers of toddlers or babies with Spina Bifida and moms who were given the pre- natal diagnosis of Spina Bifida. This support group also plans occasional play dates. Please check our Facbook page for details about the times and places for the support group meetings or contact us at <%= link_to 'wmisbo@ gmail.com', 'wmisbo@ gmail.com' %> for more info.</p>

  <h3>Career Resources</h3>
  <p>Disability Advocates of Kent County dis- abilityadvocates.us</p>

  <h3>Blog Links</h3>
  <p>Click on the links below to read blogs by local group members.</p>
  <%= link_to 'babyboybush.blogspot.com', 'babyboybush.blogspot.com' %>
  <%= link_to 'ourlittlegibblet.blogspot.com', 'ourlittlegibblet.blogspot.com' %>
  <%= link_to 'ourredirectedflight.blogspot.com', 'ourredirectedflight.blogspot.com' %>
  <%= link_to 'alistmakerslife.com', 'alistmakerslife.com' %>
  <%= link_to 'hannonfamilyblessings.blogspot.com', 'hannonfamilyblessings.blogspot.com' %>
  <%= link_to 'thelittlemiller.blogspot.com', 'thelittlemiller.blogspot.com' %>
  <%= link_to 'themathewschildren.blogspot.com', 'themathewschildren.blogspot.com' %>
</section>

<section>
  <p>Resiliance info consed mintur occus eosant dolorese pernatia plibus
  quam et.</p>
</section>

<section>
  <ul>
    <li>
      <h3>Community stories</h3>
      <p>Aximil milibus ulpa velent venem fugitatem laut adis nonet am fuga.</p>
    </li>

    <li>
      <h3>Meet the board</h3>
      <p>Aximil milibus ulpa velent venem fugitatem laut adis nonet am fuga.</p>
    </li>

    <li>
      <h3>Upcoming Events</h3>
      <p>Aximil milibus ulpa velent venem fugitatem laut adis nonet am fuga. Sam facia corerci</p>
    </li>
  </ul>
</section>

<section>
  <h1>Meet the board</h1>

  <p>Our Board of Directors focuses on ways to help those in West Michigan challenged by Spina Bifida. Our Board meets throughout the year to determine and devise our operating plan, budget and measurable goals.</p>
  <ul>
    <li>
      <strong>Carol Carpenter</strong>
      President
    </li>
    <li>
      <strong>Jodie Anderson</strong>
      Vice President
    </li>
    <li>
      <strong>Bonni Melton</strong>
      Treasurer
    </li>

    <li>
      <strong>Emily Bush</strong>
      Secretary
    </li>

    <li>
      <strong>MaryJo Boerman</strong>
      Board member
    </li>

    <li>
      <strong>Leigh Gibbs</strong>
      Board member
    </li>
    <li>
      <strong>Jamie Freitag</strong>
      Board member
    </li>
  </ul>
</section>

<section>
  <h1>Stroll n' Roll</h1>
  <p>West Michigan Spina Bifda Organization 10.19.13</p>
</section>

<section>
  <h1>Get Involved</h1>
  <ul>
    <li>
      <h2>Donate</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, et, quo, commodi quod nobis voluptatum repudiandae debitis deserunt sunt asperiores quidem maxime.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, et, quo, commodi quod nobis voluptatum repudiandae debitis deserunt sunt asperiores quidem maxime.</p>

      <%= link_to 'Donate', 'donate' %>
    </li>

    <li>
      <h2>Volunteer</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, et, quo, commodi quod nobis voluptatum repudiandae debitis deserunt sunt asperiores quidem maxime.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, et, quo, commodi quod nobis voluptatum repudiandae debitis deserunt sunt asperiores quidem maxime.</p>

      <%= link_to 'Volunteer', 'donate' %>
    </li>

    <li>
      <h2>Support</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, et, quo, commodi quod nobis voluptatum repudiandae debitis deserunt sunt asperiores quidem maxime.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, et, quo, commodi quod nobis voluptatum repudiandae debitis deserunt sunt asperiores quidem maxime.</p>
      <%= link_to 'Support', 'donate' %>
    </li>
  </ul>
</section>

<section>
  <div>
    <h1>Get in touch</h1>
    <p>We are always looking for new resources, programs & events that will enhance the lives of the West Michigan Spina Bifida community.</p>

    <div class="fn org">
      <span class="name">West Michigan Spina Bifida Organization</span>
      <span class="street">235 Wealthy SE</span>
      <span class="region">Grand Rapids, MI 49503</span>
    </div>

  </div>
  <div>
    <% form_tag '', :class => 'destroy-form', :method => 'delete' do %>
      <% field_set_tag do %>
        <div class="form_item">
          <%= label_tag 'Your name', :class => '' %>
          <%#= text_field_tag :, :value => params[:] %>
        </div>
        <p>
          <%= label_tag 'Email address', :class => '' %>
          <%#= text_field_tag :email, :value => params[:] %>
        </p>
        <p>
          <%= label_tag 'Message', :class => 'first' %>
          <%#= text_area_tag :message, :value => params[:] %>
        </p>
      <% end %>
      <%# field_set_tag(:class => 'buttons') do %>
        <%#= submit_tag "Send Message" %>
      <%# end %>
    <% end %>
  </div>
</section>

<footer>
  <div class="fn org">
    <span class="name">West Michigan Spina Bifida Organization</span>
    <span class="street">235 Wealthy SE</span>
    <span class="region">Grand Rapids, MI 49503</span>
  </div>

  <nav>
    <%= link_to 'Truth', 'truth' %>
    <%= link_to 'Support', 'truth' %>
    <%= link_to 'Community', 'truth' %>
    <%= link_to 'Contribute', 'truth' %>
  </nav>

  <div>
    <%= link_to 'Contribute', 'truth' %>
  </div>

  <p>&copy;2012 West Michigan Spina Bifida Organization</p>
</footer>
