---
title: WM Spina Bifida
---

<div class="sections-wrapper">
  <%= partial "/views/navigation_primary" %>

  <section class="masthead">
    <%= partial "/components/hr_divider_mini" %>
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <h1>
        <small>We are not a cause.</small>
        <br/>We are a community.
      </h1>
    </div>
  </section>

  <%= partial "/views/carousel_1" %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
          <blockquote>
            <div class="quote-wrapper">
              <p>The biggest misconception is that life is hard. And it’s not. That we’re sad. And we’re not.</p>
            </div>
            <footer><cite title="Source Title">Leigh, Greyson's Mom</cite></footer>
          </blockquote>
      </div><!--/col-->
    </div><!--/row-->
  </div><!--/container-->

  <%= partial "views/article_1" %>

  <%= partial "views/carousel_2" %>

  <div class="snippet-block">
    <div class="row">
      <h1 class="col-sm-5 col-xs-12">Roll with us.</h1>
      <p class="col-sm-7 col-xs-12">
        Every year we host a family friendly event built to raise awareness about spina bifida and to celebrate those living with it.
        <br /> <strong><%= link_to 'Learn more about Roll N’ Stroll', 'http://wmspinabifida.org/strollnroll/Home.html' %></strong>
      </p>
    </div><!--/row-->
  </div><!--/container-->

  <%= partial "views/article_2" %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <blockquote>
          <div class="quote-wrapper">
            <p>At first, I worried about what Grayden would take away from our lives. I never could have imagined how much he would add.</p>
            <footer id="act"><cite title="Source Title">Kelly, Grayden's Mom</cite></footer>
          </div>
        </blockquote>
      </div><!--/col-->
    </div><!--/row-->
  </div><!--/container-->

  <%= partial "views/article_3" %>
</div><!--/wrapper-->

<%= partial "views/footer" %>

